#hidden{
	
	font-weight:bold; 
	color:red; 
	display:none;
}

table{
	
	width: 50%; 
	
}
table th td{
	font-family: "Times New Roman", Times, serif;
	border:thin black solid;
	color:white;
	
}

tr:nth-of-type(odd){
	font-family: "Times New Roman", Times, serif;
	background-color:#990000;
	color:#FFFF00; 
	font-weight:bold; 
}

tr:nth-of-type(even){
	font-family: "Times New Roman", Times, serif;
	background-color:#FFFF00;
	color:#990000;
	font-weight:bold; 
}
th{
	background-color:black;
	color:white;
	height: 2em; 
}

.IETable tr td{
	color:black; 
}

.formInfo{
	color:black; 
}