.menu{
	margin:0; 
	padding:0;
	width: 12em;
	float: left;
	text-align:center; 
	border:thin black solid;
	background-color:black; 
	font-weight:bold;
	color:white; 
	
}

.menu a{
	text-decoration:none;
	color:white;
}

.borderright{
	border-right: thin white solid;
}

.menu1{
	margin:0; 
	padding:2px;
	padding-left:6px; 
	height:50px;
	width:87%; 
	background-color:white;  
	float:left;
}

.menu2{
	margin:0; 
	padding:2px;
	padding-left:6px; 
	height:25px;
	width:10%; 
	border:none;
	background-color:white; 
	color:white; 
	float:left;

}
 
.links{
	margin:0; 
	padding:2px;
	padding-left:6px; 
	height:75%;
	width:20%; 
	border:none;
	background-color:white; 
	color:black; 
	float:left;

}


div .menu ul{
 	margin:0; 
	padding:0;
	display: none;
	list-style:none; 
	
}

div.menu:hover ul{
	
	display: block; 
}

div .menu ul li{
	margin:0; 
	padding:0;
	width: 12em;
	float: left;
	text-align:left; 
	border-right:thin black solid;
	background-color:white; 
	font-weight:bold;
	color:black; 

}

.dropdown a{
	color:#990000; 
}

div .dropdown li:hover{
	background-color:blue;

}

div .dropdown a:hover{
	color:white; 

}

